
aula01/.ipynb_checkpoints/Exercicios_03_e_04_auto_gis-checkpoint.ipynb
*.ipynb
aula01/.ipynb_checkpoints/Exercicios_03_e_04_auto_gis-checkpoint.ipynb
aula01/.ipynb_checkpoints/Exercicios_03_e_04_auto_gis-checkpoint.ipynb
